<!DOCTYPE html>
<head>
  <title>Cb2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'Three.js' %>
  <%= javascript_include_tag 'RequestAnimationFrame.js' %>
  <%= content_for :head %>
</head>
<body>
<%= yield %>
</body>
</html>
